body {
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  height: 75%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px;
  padding: 20px 0;
  border-radius: 3px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
}

.frame {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  //background: grey;
  list-style: none;
  height: 100px;
  padding: 20px;
  margin: 20px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

.rating {
  padding: 5px;
}

.comments {
  height: 50px;
  overflow: scroll;
  padding: 5px;
}
